<div class="bg-white">
  <div class="flex
  items-center
  justify-between
  px-1 py-3
  hover:bg-gray-50
  cursor-pointer
  transition-colors
  duration-150" (click)="toggleAccordion()">
    <div class="flex items-center space-x-2">
      <span class="text-gray-600 font-medium">{{ title }}</span>
      <span
        *ngIf="count !== undefined"
        class="bg-[rgb(255,223,3,65%)] text-[rgb(234,88,60)] font-bold text-xs px-2 py-0.5 rounded-full"
      >
        {{ count }}
        </span>
    </div>
     <!-- chevron svg -->
    <svg
    class="
      w-4 h-4 text-gray-400
      transition-transform duration-150
    "
    [class.rotate-180]="isOpen"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="2"
    aria-hidden="true"
  >
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 9l6 6 6-6" />
  </svg>
  </div>

  <div *ngIf="isOpen" class="bg-gray-100">
    <app-table-component [columns]="columns" [data]="data"></app-table-component>
  </div>
</div>
